In [ ]:
# import dependencies
import pandas as pd
import os

In [ ]:
# Load Our World in Data CO2 data ('owid-co2-data.csv')
owid_co2_df = pd.read_csv('Resources/owid-co2-data.csv')
owid_co2_df.head(20)

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1750,AFG,2802560.0,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1751,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1752,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1753,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1754,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Afghanistan,1755,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Afghanistan,1756,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Afghanistan,1757,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Afghanistan,1758,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Afghanistan,1759,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Afghanistan,1760,AFG,2866255.0,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Afghanistan,1761,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Afghanistan,1762,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Afghanistan,1763,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Afghanistan,1764,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Afghanistan,1765,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Afghanistan,1766,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Afghanistan,1767,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Afghanistan,1768,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Afghanistan,1769,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

source: https://github.com/owid/co2-data?tab=readme-ov-file

In [10]:
# Load Cost and Affordability of a Healthy Diet (CoAHD) dataset ('FAO_CAHD.csv')
healthy_diet_cost_df = pd.read_csv('Resources/FAO_CAHD.csv')

# See all the columns
pd.set_option("display.max_columns", None)

# See truncated entries
pd.set_option("display.max_colwidth", None)

healthy_diet_cost_df.head()

,STRUCTURE,STRUCTURE_ID,ACTION,FREQ,FREQ_LABEL,REF_AREA,REF_AREA_LABEL,INDICATOR,INDICATOR_LABEL,SEX,SEX_LABEL,AGE,AGE_LABEL,URBANISATION,URBANISATION_LABEL,UNIT_MEASURE,UNIT_MEASURE_LABEL,COMP_BREAKDOWN_1,COMP_BREAKDOWN_1_LABEL,COMP_BREAKDOWN_2,COMP_BREAKDOWN_2_LABEL,COMP_BREAKDOWN_3,COMP_BREAKDOWN_3_LABEL,TIME_PERIOD,OBS_VALUE,DATABASE_ID,DATABASE_ID_LABEL,UNIT_MULT,UNIT_MULT_LABEL,UNIT_TYPE,UNIT_TYPE_LABEL,TIME_FORMAT,TIME_FORMAT_LABEL,OBS_STATUS,OBS_STATUS_LABEL,OBS_CONF,OBS_CONF_LABEL
0,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,ALB,Albania,FAO_CAHD_7005,Percentage of the population unable to afford a healthy diet (percent),_T,Total,_T,All age ranges or no breakdown by age,_T,Total,PT,Percentage,_Z,Not Applicable,_Z,Not Applicable,_Z,Not Applicable,2017,24.3,FAO_CAHD,Cost and Affordability of a Healthy Diet (CoAHD),0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
1,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,ALB,Albania,FAO_CAHD_7005,Percentage of the population unable to afford a healthy diet (percent),_T,Total,_T,All age ranges or no breakdown by age,_T,Total,PT,Percentage,_Z,Not Applicable,_Z,Not Applicable,_Z,Not Applicable,2018,17.6,FAO_CAHD,Cost and Affordability of a Healthy Diet (CoAHD),0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
2,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,ALB,Albania,FAO_CAHD_7005,Percentage of the population unable to afford a healthy diet (percent),_T,Total,_T,All age ranges or no breakdown by age,_T,Total,PT,Percentage,_Z,Not Applicable,_Z,Not Applicable,_Z,Not Applicable,2019,14.6,FAO_CAHD,Cost and Affordability of a Healthy Diet (CoAHD),0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
3,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,ALB,Albania,FAO_CAHD_7005,Percentage of the population unable to afford a healthy diet (percent),_T,Total,_T,All age ranges or no breakdown by age,_T,Total,PT,Percentage,_Z,Not Applicable,_Z,Not Applicable,_Z,Not Applicable,2020,13.9,FAO_CAHD,Cost and Affordability of a Healthy Diet (CoAHD),0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
4,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,ALB,Albania,FAO_CAHD_7005,Percentage of the population unable to afford a healthy diet (percent),_T,Total,_T,All age ranges or no breakdown by age,_T,Total,PT,Percentage,_Z,Not Applicable,_Z,Not Applicable,_Z,Not Applicable,2021,12.6,FAO_CAHD,Cost and Affordability of a Healthy Diet (CoAHD),0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public

source: https://data360.worldbank.org/en/dataset/FAO_CAHD

In [9]:
# Let's get a list of all these column headers
healthy_diet_cost_df.columns

Index(['STRUCTURE', 'STRUCTURE_ID', 'ACTION', 'FREQ', 'FREQ_LABEL', 'REF_AREA',
       'REF_AREA_LABEL', 'INDICATOR', 'INDICATOR_LABEL', 'SEX', 'SEX_LABEL',
       'AGE', 'AGE_LABEL', 'URBANISATION', 'URBANISATION_LABEL',
       'UNIT_MEASURE', 'UNIT_MEASURE_LABEL', 'COMP_BREAKDOWN_1',
       'COMP_BREAKDOWN_1_LABEL', 'COMP_BREAKDOWN_2', 'COMP_BREAKDOWN_2_LABEL',
       'COMP_BREAKDOWN_3', 'COMP_BREAKDOWN_3_LABEL', 'TIME_PERIOD',
       'OBS_VALUE', 'DATABASE_ID', 'DATABASE_ID_LABEL', 'UNIT_MULT',
       'UNIT_MULT_LABEL', 'UNIT_TYPE', 'UNIT_TYPE_LABEL', 'TIME_FORMAT',
       'TIME_FORMAT_LABEL', 'OBS_STATUS', 'OBS_STATUS_LABEL', 'OBS_CONF',
       'OBS_CONF_LABEL'],
      dtype='object')

In [35]:
# List of preferred columns
columns_list = [
    'REF_AREA_LABEL', 'INDICATOR_LABEL', 'AGE_LABEL', 'URBANISATION_LABEL', 'UNIT_MEASURE_LABEL', 'UNIT_MULT', 'TIME_PERIOD', 'OBS_VALUE', 'OBS_STATUS_LABEL'
]

In [36]:
# New condensed df
edited_diet_df = healthy_diet_cost_df[columns_list]
edited_diet_df.head()

,REF_AREA_LABEL,INDICATOR_LABEL,AGE_LABEL,URBANISATION_LABEL,UNIT_MEASURE_LABEL,UNIT_MULT,TIME_PERIOD,OBS_VALUE,OBS_STATUS_LABEL
0,Albania,Percentage of the population unable to afford a healthy diet (percent),All age ranges or no breakdown by age,Total,Percentage,0,2017,24.3,Normal value
1,Albania,Percentage of the population unable to afford a healthy diet (percent),All age ranges or no breakdown by age,Total,Percentage,0,2018,17.6,Normal value
2,Albania,Percentage of the population unable to afford a healthy diet (percent),All age ranges or no breakdown by age,Total,Percentage,0,2019,14.6,Normal value
3,Albania,Percentage of the population unable to afford a healthy diet (percent),All age ranges or no breakdown by age,Total,Percentage,0,2020,13.9,Normal value
4,Albania,Percentage of the population unable to afford a healthy diet (percent),All age ranges or no breakdown by age,Total,Percentage,0,2021,12.6,Normal value

In [ ]:
# Look at unique values in INDICATOR_LABEL column
edited_diet_df['INDICATOR_LABEL'].unique()

array(['Percentage of the population unable to afford a healthy diet (percent)',
       'Number of people unable to afford a healthy diet (million)'],
      dtype=object)

In [16]:
# Look at unique values in AGE_LABEL column
edited_diet_df['AGE_LABEL'].unique()

array(['All age ranges or no breakdown by age'], dtype=object)

In [17]:
# Look at unique values in URBANISATION_LABEL column
edited_diet_df['URBANISATION_LABEL'].unique()

array(['Total'], dtype=object)

In [18]:
# Look at unique values in UNIT_MEASURE_LABEL column
edited_diet_df['UNIT_MEASURE_LABEL'].unique()

array(['Percentage', 'Persons'], dtype=object)

In [19]:
# Look at unique values in OBS_STATUS_LABEL column
edited_diet_df['OBS_STATUS_LABEL'].unique()

array(['Normal value'], dtype=object)

'AGE_LABEL', 'URBANISATION LABEL', 'OBS_STATUS_LABEL' columns only have one unique entry. 'AGE_LABEL' means all ages are included, this column can be dropped. 'URBANISATION_LABEL' is always "Total", this column can be dropped. 'OBS_STATUS_LABEL' is always "Normal", this column can be dropped.

In [37]:
# Drop unnecessary columns
edited_diet_df = edited_diet_df.drop(['AGE_LABEL', 'URBANISATION_LABEL', 'OBS_STATUS_LABEL'],
                                     axis=1
                                     )

In [38]:
edited_diet_df.head()

,REF_AREA_LABEL,INDICATOR_LABEL,UNIT_MEASURE_LABEL,UNIT_MULT,TIME_PERIOD,OBS_VALUE
0,Albania,Percentage of the population unable to afford a healthy diet (percent),Percentage,0,2017,24.3
1,Albania,Percentage of the population unable to afford a healthy diet (percent),Percentage,0,2018,17.6
2,Albania,Percentage of the population unable to afford a healthy diet (percent),Percentage,0,2019,14.6
3,Albania,Percentage of the population unable to afford a healthy diet (percent),Percentage,0,2020,13.9
4,Albania,Percentage of the population unable to afford a healthy diet (percent),Percentage,0,2021,12.6

In [ ]:
# Look at value counts for INDICATOR_LABEL column
edited_diet_df['INDICATOR_LABEL'].value_counts()

INDICATOR_LABEL
Percentage of the population unable to afford a healthy diet (percent)    1202
Number of people unable to afford a healthy diet (million)                1122
Name: count, dtype: int64

In [29]:
# Look at value counts for UNIT_MEASURES_LABEL
edited_diet_df['UNIT_MEASURE_LABEL'].value_counts()

UNIT_MEASURE_LABEL
Percentage    1202
Persons       1122
Name: count, dtype: int64

In [40]:
# Drop INDICATOR_LABEL column, as it coincides directly with UNIT_MEASURE_LABEL and is more cumbersome
edited_diet_df = edited_diet_df.drop(['INDICATOR_LABEL'], axis=1)

In [41]:
edited_diet_df.head()

  REF_AREA_LABEL UNIT_MEASURE_LABEL  UNIT_MULT  TIME_PERIOD  OBS_VALUE
0        Albania         Percentage          0         2017       24.3
1        Albania         Percentage          0         2018       17.6
2        Albania         Percentage          0         2019       14.6
3        Albania         Percentage          0         2020       13.9
4        Albania         Percentage          0         2021       12.6

Because they use different units of measurement, it's hard to know what to do. Roughly half the dataset uses different units. It would be possible to manually calculate the percentage or number of persons (convert the data to one or the other units). Or maybe just drop the entries counted in 'Persons'. Let's look at an example of a row counted in 'Persons'.

In [42]:
# Look at value counts for UNIT_MULT column
edited_diet_df['UNIT_MULT'].value_counts()

UNIT_MULT
0    1202
6    1122
Name: count, dtype: int64

In [34]:
# Find a persons row
row = edited_diet_df[edited_diet_df['UNIT_MEASURE_LABEL'] == "Persons"]
row

     REF_AREA_LABEL UNIT_MEASURE_LABEL  TIME_PERIOD  OBS_VALUE
1202        Albania            Persons         2017        0.7
1203        Albania            Persons         2018        0.5
1204        Albania            Persons         2019        0.4
1205        Albania            Persons         2020        0.4
1206        Albania            Persons         2021        0.4
...             ...                ...          ...        ...
2319          Ghana            Persons         2023       22.4
2320         Greece            Persons         2024        1.7
2321        Armenia            Persons         2024        1.9
2322        Armenia            Persons         2023        1.5
2323         Greece            Persons         2023        1.8

[1122 rows x 4 columns]

In [30]:
# Look at REF_AREA_LABEL value counts
edited_diet_df['REF_AREA_LABEL'].value_counts()

REF_AREA_LABEL
Albania      16
Jordan       16
Myanmar      16
Namibia      16
Nepal        16
             ..
Malta         8
St. Lucia     8
Argentina     2
Zimbabwe      2
Qatar         1
Name: count, Length: 153, dtype: int64

In [31]:
# Look at TIME_PERIOD value counts
edited_diet_df['TIME_PERIOD'].value_counts()

TIME_PERIOD
2017    297
2018    292
2023    291
2019    290
2020    290
2021    289
2022    289
2024    286
Name: count, dtype: int64